/* body section */
main{
    max-width: 1140px;
    margin: 0 auto;
} 
/* font section */

.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Hedar section */
.header{
    background-image: url("images/Banner\ Image.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    box-shadow: inset 130px 70px 160px rgba(0, 0, 0, 1);
    margin: 50px auto;
    
}
.header-div{
   
    padding: 100px 120px 80px 120px;
}
.header-div h3{
    font-size: 32px;
    color: #ffff;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
.header-div h1{
    font-size: 72px;
    color: #ffff;
    line-height: 85px;
    text-align: center;
    text-shadow: 5px 5px 10px black;

}
/* main div section */
/* categories section */
.categories h1{
    font-size: 88px;
    font-weight: bold;
    text-align: center;
    color: #FF0000;  
}
.categories p{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #FF0000;
}
.categories h3{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #070211;
}
.categories img{
  height: 500px;
  width: 800px;
  margin: 50px 130px;
  
}
/* midnight section */
.midnight{
    display: flex;
    justify-content: space-between;
    background-image: url("images/Vectorrr.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: inset 160px 5px 160px rgba(0, 0, 0, 1);

}
.midnight-div{
    padding: 50px ;
    padding-left: 100px;
}
.midnight h1{
    font-size: 64px;
    color: #FFFF;
    line-height: 85px;
    letter-spacing: 10%;
}
.midnight p{
    font-size: 18px;
    color: #FFFF;
    line-height: 30px;
    opacity: 80%;
}
.midnight a{
    font-size: 20px;
    color: #FFFF;
   font-weight: bold;
   text-decoration: none;
   margin: 10px 25px;
   
}
.midnight img{
    padding: 60px 115px ;
    width: 260px;
    height: 410px;
}
/* Hotel section */
.Hotel{
    background: linear-gradient(to bottom, #fad5d5 0%, #FFFFFF 100%);
    text-align: center;
    padding: 100px;
    margin-top: 100px;
    border-radius: 15px;
    height: 300px;
}
.Hotel h2{
    color: #070211;   
    font-size: 32px;
    line-height: 56px;
    font-weight: 600;
}
.Hotel span{
    color: #FF0000;   
    font-size: 32px;
    line-height: 55px;
    font-weight: 600;
}
.Hotel button{
    color: #FFFFFF;   
    background-color: #FF0000;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 16px 32px;
}
/* consectetur section */
.consectetur{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.consectetur div{

    padding: 100px;
   padding-left: 5px;
   padding-right: 2px;
}
.consectetur h3{
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
}
.consectetur h1{
    font-weight: 900;
    font-size: 48px;
    color: #070211;
}
.consectetur h2{
    font-weight: bold;
    font-size: 48px;
    color: #FF0000;
}
.consectetur p{
    
    font-size: 20px;
    color: #070211;
    line-height: 30px;    
}

.consectetur .center-img img{
    height: 330px;
    width: 330px;
    padding: 30px;
    border: 10px solid #FF0000;
    border-radius: 100%;
}
.consectetur img{
    height: 100px;
    width: 80px;
}
/* malesuada section */
.malesuada{
    text-align: center;
    /* justify-content: center; */
    padding: 20px;
}
.malesuada h3{
    font-size: 24px;
    color: #070211;
    font-weight: 500;
}
.malesuada h1{
    font-size: 70px;
    color: #070211;
    font-weight: 900;
}
.malesuada span{
    font-size: 70px;
    color: #FF0000;
    font-weight: 900;
}
.malesuada p{
    font-size: 20px;
    color: #070211;
    font-weight: 500;
    line-height: 30px;
}
/* images section */
.images{
    display: flex;
    justify-content: space-between;
    background-image: url("images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 50px;
    padding-left: 20px;
    border-radius: 15px;
}